*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
#root{
    min-height: 100vh;
    display:flex;
    
}
  

.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:beige;
    padding: 15px 10px 10px 15px;

}

.sidebar img{
    width: 20px;
    border-radius: 50%;

}

.sidebar .menu{
    display: block;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.sidebar .new-chat{
    display: inline-flex;
    margin-top: 50px;
    margin-left: 10px;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color:white;
    border-radius: 50px;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 5px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 50px;
    color: black;
    cursor:pointer;
}

.sidebar .recent-entry:hover{
    background-color:antiquewhite;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
    padding: 0px 10px ;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

.main{
    display:inline-flex;
    position:absolute;
    min-height: 100vh;
    font-size: 30px;
    padding:  20px 30px;
    gap:10px;
}

.main .nav{
    justify-content: space-between;
}

.main .nav img{
    width: 50px;
    justify-content: space-between;
    display: inline-flex;
    flex-direction: column;
    border-radius: 50%;
}

.main-container{
    max-width: 900px;
    display: flex;
    align-items: center;
}

.main .greet{
    color: #c4c7c5;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 500;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,blue,crimson,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .greet p{
    background: -webkit-linear-gradient(16deg,royalblue,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-bottom{
    display:inline-flex;
    position: absolute;
    bottom: 0;
    width: 610px;
}

.search-box{
    display: inline-flex;
    align-items: center;
    outline: none;
    font-size: 30px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 20px;
     
}

.search-box img{
    width: 30px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
}

.search-box input{
    display: inline-flex;
    flex-direction: column;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 200px;
    margin-bottom: 0;
    align-items: center;

}

.result{
    display:inline-flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-right: 40px;
    overflow-y: scroll;
    
}

.result::-webkit-scrollbar{
    display: none;

}

.result-title{

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;


}

.result img{
    width: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
}

.result-data{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vh;
    align-items: center; 

}

.loader{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.loader hr{
    border-radius: 5px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,blueviolet,whitesmoke,cornflowerblue);
    background-size: 800px 50px;
    height: 30px;
    animation: loader 3s infinite linear;
}

@keyframes loader {

    0%{
        background-position: -800px 0px;

    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}

@media(max-width:600px){
    .main-bottom input{
        flex: none;
        padding: 0px 50px 10px 50px;
    }
    .main-bottom img{
        width: 20px;
        padding: 0px 40px;
    }
    .search-box div{
        gap: 5px;
    }
}